[submodule "dotfiles/config/mpv/plugins/mpv-gallery-view"]
	path = dotfiles/deps/mpv-gallery-view
	url = https://github.com/occivink/mpv-gallery-view
[submodule "src/nsxiv-extra"]
	path = dotfiles/deps/nsxiv-extra
	url = https://github.com/Zen-Path/nsxiv-extra
[submodule "dotfiles/deps/dwm-flexipatch"]
	path = dotfiles/deps/dwm-flexipatch
	url = https://github.com/Zen-Path/dwm-flexipatch
[submodule "dotfiles/deps/dwmblocks-async"]
	path = dotfiles/deps/dwmblocks-async
	url = https://github.com/Zen-Path/dwmblocks-async
