# Stop at the first hook that fails
fail_fast: true

default_stages: [pre-commit]

repos:
    # --- WEB & DOCS ---
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v4.0.0-alpha.8
      hooks:
          - id: prettier
            name: "Web: Prettier"
            types_or: [javascript, ts, tsx, json, css, scss, html, markdown]

    # --- SHELL ---
    - repo: https://github.com/scop/pre-commit-shfmt
      rev: v3.12.0-2
      hooks:
          - id: shfmt
            name: "Shell: shfmt"
            args:
                [
                    --indent=4,
                    --binary-next-line,
                    --case-indent,
                    --space-redirects,
                    --write,
                ]
            types: [shell]

    # --- LUA ---
    - repo: https://github.com/JohnnyMorganz/StyLua
      rev: v2.3.1
      hooks:
          - id: stylua-system # stylua | stylua-system | stylua-github
            name: "Lua: StyLua"
            types: [lua]

    # --- TOML ---
    - repo: local
      hooks:
          - id: taplo-format
            name: "TOML: Taplo"
            entry: taplo
            language: system
            types: [toml]
            args: ["format"]

    # --- PYTHON ---
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.14
      hooks:
          - id: ruff-format
            name: "Python: Ruff Format (Initial)"
            types: [python]
          - id: ruff
            name: "Python: Ruff Lint"
            args: [--fix]
            types: [python]
          - id: ruff-format
            name: "Python: Ruff Format (Final)"
            types: [python]

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.19.1
      hooks:
          - id: mypy
            name: "Python: Type Check (mypy)"
            language: system
            types: [python]

    # TESTING
    - repo: https://github.com/christophmeissner/pytest-pre-commit
      rev: 1.0.0
      hooks:
          # Runs on COMMIT
          - id: pytest
            name: "Test: API Suite"
            entry: pytest -m "not ui and not slow"
            language: system
            pass_filenames: false
            types: [python]
            always_run: false

          # Runs on PUSH
          - id: pytest
            alias: pytest-full
            name: "Test: Full Suite"
            entry: pytest
            language: system
            pass_filenames: false
            types_or: [python, javascript, html]
            stages: [pre-push]
            always_run: false
