uservariables:
    active_dotdrop_profile: "Active dotdrop profile"
    git_email: "Git email"
    git_username: "Git username"
    media_server_key: "Media server private key (a random string is fine)"

trans_install:
    jsonc_to_json: jsonc_to_json "{0}" "{1}"

config:
    backup: false
    banner: false
    create: true
    dotpath: dotfiles
    keepdot: false
    link_dotfile_default: absolute
    link_on_import: absolute
    longkey: false
    import_variables:
        - uservariables.yaml:optional

actions:
    pre:
        generate_user_shortcuts: user_shortcuts
    post:
        yazi_plugins_upgrade: ya pack --upgrade
        vscode_extensions_save: code --list-extensions | sort > "{{@@ f_vscode_extensions @@}}"
        vscode_extensions_install: cat "{{@@ f_vscode_extensions @@}}" | xargs -n 1 code --install-extension

dotfiles:
    # TODO: Update the info from here:

    # Avoid links for essential config files, since if something were to go
    # wrong with the flexycon repo, such as checking out a bad state or work
    # in progress branch, or simply deleting the code by accident, the environment
    # will not be affected unless you install the changes.
    # In short, use 'link: nolink' for essentials!

    f_fake_profile:
        # "Fake" files are always considered installed, so we can use this
        # to trick dotdrop into always running a profile's actions, so we
        # can update, refresh, install stuff etc. Idea is still WIP.
        src:
        dst:

    # Config that deals directly with the environment. Should be installed
    # before anything else.
    #
    # Imagine a situation where we're adding a new env var and using it in
    # our script. When installing, we're going to update both the shell
    # config, and the script. However, when running the script, we see that
    # the env var is not defined, since we haven't sourced the new shell config,
    # and this might lead to a bad state config.
    #
    # To prevent this, we first install the mandatory config, then we source it,
    # then we install everything else, which guarantees that the latest env
    # is used.
    f_shell_profile:
        src: config/shell/profile.sh
        dst: ~/.zprofile
        link: nolink

    f_shell_inputrc:
        src: config/shell/inputrc
        dst: ~/.config/shell/inputrc
        link: nolink

    # Whilst important, we're not going to include this in mandatory, since
    # we're using some env vars in its templates.
    d_git:
        src: config/git
        dst: ~/.config/git
        link: nolink

    # Shell
    f_zsh_config:
        src: config/zsh/config.sh
        dst: ~/.config/zsh/.zshrc
        link: nolink

    f_shell_aliases:
        src: config/shell/aliases.sh
        dst: ~/.config/shell/aliases.sh
        link: nolink

    d_starship:
        src: config/starship
        dst: ~/.config/starship

    # Package Managers
    d_yay:
        src: config/yay
        dst: ~/.config/yay

    # WM / Desktop Environment
    d_x11:
        src: config/x11
        dst: ~/.config/x11

    f_x11_profile:
        src: config/x11/xprofile
        dst: ~/.xprofile

    # Terminal
    d_alacritty:
        src: config/alacritty
        dst: ~/.config/alacritty

    d_kitty:
        src: config/kitty
        dst: ~/.config/kitty

    # Text Editor
    f_nvim_init:
        src: config/nvim/init.lua
        dst: ~/.config/nvim/init.lua

    ## VSCode
    f_vscode_settings:
        src: "{{@@ d_vscode_src @@}}/settings.json"
        dst: "{{@@ d_vscode_dst @@}}/settings.json"

    f_vscode_keybindings:
        src: "{{@@ d_vscode_src @@}}/keybindings.json"
        dst: "{{@@ d_vscode_dst @@}}/keybindings.json"

    # Window management
    f_amethyst:
        src: config/amethyst/amethyst.yml
        dst: ~/.config/amethyst/amethyst.yml

    # Programming
    d_python:
        src: config/python
        dst: ~/.config/python

    # File Manager
    f_yazi_config:
        src: config/yazi/yazi.toml
        dst: ~/.config/yazi/yazi.toml

    f_yazi_keymap:
        src: config/yazi/keymap.toml
        dst: ~/.config/yazi/keymap.toml

    f_yazi_theme:
        src: config/yazi/theme.toml
        dst: ~/.config/yazi/theme.toml

    f_yazi_package:
        src: config/yazi/package.toml
        dst: ~/.config/yazi/package.toml

    f_yazi_init:
        src: config/yazi/init.lua
        dst: ~/.config/yazi/init.lua

    d_yazi_plugin_custom_rename:
        src: config/yazi/plugins/custom-rename.yazi
        dst: ~/.config/yazi/plugins/custom-rename.yazi

    d_yazi_plugin_custom_search:
        src: config/yazi/plugins/custom-search.yazi
        dst: ~/.config/yazi/plugins/custom-search.yazi

    d_yazi_plugin_parent_arrow:
        src: config/yazi/plugins/parent-arrow.yazi
        dst: ~/.config/yazi/plugins/parent-arrow.yazi

    # Browser

    ## Chrome dir
    d_firefox_chrome_personal:
        src: "{{@@ d_firefox_chrome_src @@}}"
        dst: "{{@@ d_firefox_profiles @@}}/Personal/chrome"

    d_firefox_chrome_work:
        src: "{{@@ d_firefox_chrome_src @@}}"
        dst: "{{@@ d_firefox_profiles @@}}/Work/chrome"

    ## User profiles
    f_firefox_user_personal:
        src: "{{@@ f_firefox_user_src @@}}"
        dst: "{{@@ d_firefox_profiles @@}}/Personal/user.js"

    f_firefox_user_work:
        src: "{{@@ f_firefox_user_src @@}}"
        dst: "{{@@ d_firefox_profiles @@}}/Work/user.js"

    # Media
    f_mpv_config:
        src: config/mpv/mpv.conf
        dst: ~/.config/mpv/mpv.conf

    f_mpv_input:
        src: config/mpv/input.conf
        dst: ~/.config/mpv/input.conf

    f_mpv_plugin_gallery_view_gallery_lua:
        src: config/mpv/plugins/mpv-gallery-view/script-modules/gallery.lua
        dst: ~/.config/mpv/script-modules/gallery.lua

    d_mpv_plugin_gallery_view_scripts:
        src: config/mpv/plugins/mpv-gallery-view/scripts
        dst: ~/.config/mpv/scripts/
        link: link_children

    f_nsxiv_exec_key_handler:
        src: src/scripts/nsxiv_key_handler/main.py
        dst: ~/.config/nsxiv/exec/key-handler

    d_yt_dlp:
        src: config/yt-dlp
        dst: ~/.config/yt-dlp

    f_gallery_config:
        src: config/gallery-dl/config.jsonc
        dst: ~/.config/gallery-dl/config.json
        link: nolink
        trans_install: jsonc_to_json

    # Audio
    f_pulse_daemon:
        src: config/pulse/daemon.conf
        dst: ~/.config/pulse/daemon.conf

    d_pipewire:
        src: config/pipewire
        dst: ~/.config/pipewire

    # Programs
    d_zathura:
        src: config/zathura
        dst: ~/.config/zathura

    d_newsraft:
        src: config/newsraft
        dst: ~/.config/newsraft

    d_bottom:
        src: config/bottom
        dst: ~/.config/bottom

    d_dunst:
        src: config/dunst
        dst: ~/.config/dunst

    d_gtk_3:
        src: config/gtk-3.0
        dst: ~/.config/gtk-3.0

    d_blugon:
        src: config/blugon
        dst: ~/.config/blugon

    f_hammerspoon_init:
        src: config/hammerspoon/init.lua
        dst: ~/.config/hammerspoon/init.lua

    # Flexycon
    f_flex_sync:
        src: config/flexycon/sync/config.json
        dst: ~/.config/flexycon/sync/config.json

    # Linux
    d_fontconfig:
        src: config/fontconfig
        dst: ~/.config/fontconfig

    f_mimeapps.list:
        src: config/mimeapps.list
        dst: ~/.config/mimeapps.list

    # Share
    d_applications:
        src: share/applications
        dst: ~/.local/share/applications

    # Scripts
    # Note: the dotfile key NEEDS to match the script name (without the prefix, of course)
    f_compiler:
        src: bin/compiler.sh
        dst: ~/.local/bin/compiler
        chmod: "755"

    f_continuous_diff:
        src: src/scripts/continuous_diff/main.py
        dst: ~/.local/bin/continuous_diff
        chmod: "755"

    f_getkeys:
        src: bin/getkeys.sh
        dst: ~/.local/bin/getkeys
        chmod: "755"

    f_git_logs:
        src: src/scripts/git_logs/main.py
        dst: ~/.local/bin/git_logs
        chmod: "755"

    f_if_installed:
        src: bin/if_installed.sh
        dst: ~/.local/bin/if_installed
        chmod: "755"

    f_imgconv:
        src: bin/imgconv.sh
        dst: ~/.local/bin/imgconv
        chmod: "755"

    f_journal_entry:
        src: src/scripts/journal_entry/main.py
        dst: ~/.local/bin/journal_entry
        chmod: "755"

    f_jsonc_to_json:
        src: src/scripts/jsonc_to_json/main.py
        dst: ~/.local/bin/jsonc_to_json
        chmod: "755"

    f_media_server:
        src: src/scripts/media_server/main.py
        dst: ~/.local/bin/media_server
        chmod: "755"

    f_noisereduce:
        src: bin/noisereduce.sh
        dst: ~/.local/bin/noisereduce
        chmod: "755"

    f_rclone_wrapper:
        src: src/scripts/rclone_wrapper/main.py
        dst: ~/.local/bin/rclone_wrapper
        chmod: "755"

    f_rename_file:
        src: src/scripts/rename_file/main.py
        dst: ~/.local/bin/rename_file
        chmod: "755"

    f_sdir:
        src: bin/sdir.sh
        dst: ~/.local/bin/sdir
        chmod: "755"

    f_user_shortcuts:
        src: src/scripts/user_shortcuts/main.py
        dst: ~/.local/bin/user_shortcuts
        chmod: "755"

    f_tag:
        src: bin/tag.sh
        dst: ~/.local/bin/tag
        chmod: "755"

    f_displayselect:
        src: bin/displayselect.sh
        dst: ~/.local/bin/displayselect
        chmod: "755"

    f_dmenuhandler:
        src: bin/dmenuhandler.sh
        dst: ~/.local/bin/dmenuhandler
        chmod: "755"

    f_dmenupass:
        src: bin/dmenupass.sh
        dst: ~/.local/bin/dmenupass
        chmod: "755"

    f_dmenurecord:
        src: bin/dmenurecord.sh
        dst: ~/.local/bin/dmenurecord
        chmod: "755"

    f_env_cmd_runner:
        src: bin/env_cmd_runner.sh
        dst: ~/.local/bin/env_cmd_runner
        chmod: "755"

    f_keyboard_select:
        src: src/scripts/keyboard_select/main.py
        dst: ~/.local/bin/keyboard_select
        chmod: "755"

    f_mounter:
        src: bin/mounter.sh
        dst: ~/.local/bin/mounter
        chmod: "755"

    f_unmounter:
        src: bin/unmounter.sh
        dst: ~/.local/bin/unmounter
        chmod: "755"

    f_nsxiv_rifle:
        src: deps/nsxiv-extra/scripts/nsxiv-rifle/nsxiv-rifle.sh
        dst: ~/.local/bin/nsxiv-rifle
        chmod: "755"

    f_pkgsize:
        src: bin/pkgsize.sh
        dst: ~/.local/bin/pkgsize
        chmod: "755"

    f_remapd:
        src: bin/remapd.sh
        dst: ~/.local/bin/remapd
        chmod: "755"

    f_remaps:
        src: bin/remaps.sh
        dst: ~/.local/bin/remaps
        chmod: "755"

    f_screenshot_utility:
        src: src/scripts/screenshot_utility/main.py
        dst: ~/.local/bin/screenshot_utility
        chmod: "755"

    f_select_unicode:
        src: src/scripts/select_unicode/main.py
        dst: ~/.local/bin/select_unicode
        chmod: "755"

    f_setbg:
        src: bin/setbg.sh
        dst: ~/.local/bin/setbg
        chmod: "755"

    f_sysact:
        src: bin/sysact.sh
        dst: ~/.local/bin/sysact
        chmod: "755"

    # Statusbar
    f_sb_battery:
        src: src/statusbar/battery.sh
        dst: ~/.local/bin/statusbar/sb-battery
        chmod: "755"

    f_sb_date:
        src: src/statusbar/date.sh
        dst: ~/.local/bin/statusbar/sb-date
        chmod: "755"

    f_sb_internet:
        src: src/statusbar/internet.sh
        dst: ~/.local/bin/statusbar/sb-internet
        chmod: "755"

    f_sb_news:
        src: src/statusbar/news.py
        dst: ~/.local/bin/statusbar/sb-news
        chmod: "755"

    f_sb_tasks:
        src: src/statusbar/tasks.sh
        dst: ~/.local/bin/statusbar/sb-tasks
        chmod: "755"

    f_sb_volume:
        src: src/statusbar/volume.py
        dst: ~/.local/bin/statusbar/sb-volume
        chmod: "755"

    f_sb_recording:
        src: src/statusbar/recording.py
        dst: ~/.local/bin/statusbar/sb-recording
        chmod: "755"

    # Userscripts
    f_media_server_client:
        src: "{{@@ d_userscripts_src @@}}/media_server_client/main.js"
        dst: "{{@@ d_userscripts_dst @@}}/mediaServerClient.js"

profiles:
    # Programs

    meta_yazi:
        dotfiles:
            - f_yazi_config
            - f_yazi_keymap
            - f_yazi_theme
            - f_yazi_package
            - f_yazi_init
            - d_yazi_plugin_custom_rename
            - d_yazi_plugin_custom_search
            - d_yazi_plugin_parent_arrow

    meta_vscode:
        variables:
            d_vscode_src: "config/vscode"
        dynvariables:
            f_vscode_extensions: "echo $FLEXYCON_HOME/dotfiles/{{@@ d_vscode_src @@}}/extensions.txt"
        dotfiles:
            - f_vscode_settings
            - f_vscode_keybindings
        # actions:
        # - vscode_extensions_save
        # - vscode_extensions_install

    meta_firefox:
        variables:
            d_firefox_chrome_src: "config/firefox/chrome"
            d_firefox_chrome_dst: "~/.config/firefox/chrome"
            f_firefox_user_src: "config/firefox/user.js"
            d_firefox_profiles: "~/.config/firefox"

    meta_mpv:
        dotfiles:
            - f_mpv_config
            - f_mpv_input
            - f_mpv_plugin_gallery_view_gallery_lua
            - d_mpv_plugin_gallery_view_scripts

    # Meta Profiles

    meta_common:
        include:
            - meta_yazi
            - meta_vscode
            - meta_firefox
            - meta_mpv
        dotfiles:
            # Config
            - f_shell_profile
            - f_shell_inputrc
            - f_zsh_config
            - f_shell_aliases
            - d_starship
            - d_git
            - f_nvim_init
            - d_python
            - d_yt_dlp
            - f_gallery_config
            - d_newsraft
            - d_bottom
            - f_flex_sync

            # Scripts
            - f_compiler
            - f_continuous_diff
            - f_getkeys
            - f_git_logs
            - f_if_installed
            - f_imgconv
            - f_jsonc_to_json
            - f_media_server
            - f_noisereduce
            - f_pkgsize
            - f_rclone_wrapper
            - f_rename_file
            - f_sdir
            - f_user_shortcuts
            - f_tag

            # Userscripts
            - f_media_server_client
        variables:
            media_server_port: 5001
            d_userscripts_src: "src/userscripts"
            d_userscripts_dst: "~/.config/flexycon/userscripts"

        #actions:
        #    - generate_user_shortcuts

    ## OS
    meta_unix:
        variables:
            d_venv_bin: ".venv/bin"

    meta_linux:
        include:
            - meta_common
            - meta_unix
        variables:
            d_vscode_dst: "~/.config/Code - OSS/User"

    meta_mac:
        include:
            - meta_common
            - meta_unix
        variables:
            d_vscode_dst: "~/Library/Application\ Support/Code/User"
        dotfiles:
            # Config
            - d_kitty
            - f_amethyst
            - f_hammerspoon_init

    meta_windows:
        variables:
            d_venv_bin: ".venv/Scripts"

    ## Environment
    meta_personal:
        dotfiles:
            # Config
            - d_firefox_chrome_personal
            - f_firefox_user_personal

            # Scripts
            - f_journal_entry

    meta_work:
        dotfiles:
            # Config
            - d_firefox_chrome_work
            - f_firefox_user_work

    # Actual Profiles

    bootstrap:
        dotfiles:
            - f_fake_profile

    linux_home:
        include:
            - meta_linux
            - meta_personal
        dotfiles:
            # Config
            - d_x11
            - f_x11_profile
            - d_yay
            - d_alacritty
            - f_nsxiv_exec_key_handler
            - f_pulse_daemon
            - d_pipewire
            - d_gtk_3
            - d_fontconfig
            - f_mimeapps.list
            - d_zathura
            - d_dunst
            - d_blugon

            # Share
            - d_applications

            # Scripts
            - f_displayselect
            - f_dmenuhandler
            - f_dmenupass
            - f_dmenurecord
            - f_env_cmd_runner
            - f_keyboard_select
            - f_mounter
            - f_unmounter
            - f_nsxiv_rifle
            - f_remapd
            - f_remaps
            - f_screenshot_utility
            - f_select_unicode
            - f_setbg
            - f_sysact

            # Statusbar
            - f_sb_date
            - f_sb_internet
            - f_sb_news
            - f_sb_tasks
            - f_sb_volume
            - f_sb_recording

    mac_work:
        include:
            - meta_mac
            - meta_work

    mac_home:
        include:
            - meta_mac
            - meta_personal
