dotdrop==1.15.0         # [bin] for dotfile management
colorama==0.4.6         # [util] for colored text
python-dotenv==1.1.1    # [util] for loading env variables
PyYAML==6.0.3           # [util] for parsing yaml files
Flask==3.1.1            # [script] for media_server
flask-cors==6.0.0       # [script] for media_server
gallery_dl==1.30.7      # [script] for media_server
yt-dlp==2025.8.20       # [script] for media_server
GitPython==3.1.44       # [script] for git_logs
tabulate==0.9.0         # [script] for rclone_fmt
humanize==4.14.0        # [script] for rclone_fmt
pydantic==2.12.3        # [script] for rclone_fmt
commentjson==0.9.0      # [script] for jsonc_to_json
pre_commit==4.2.0       # [dev] for pre-commit git hooks
black==25.1.0           # [dev] for formatting
mypy==1.16.1            # [dev] for type checking
types-PyYAML==6.0.12.20250915       # [dev] mypy types
types-colorama==0.4.15.20240311     # [dev] mypy types
types-Flask-Cors==6.0.0.20250520    # [dev] mypy types
types-psutil==7.0.0.20250601        # [dev] mypy types
types-setuptools==80.9.0.20250529   # [dev] mypy types
types-tabulate==0.9.0.20241207      # [dev] mypy types
pytest==8.4.2           # [test] for unit testing
